{% from 'macros.html.j2' import property, property_block, property_block_no_punctuation, features_block, attack_blocks,
attack_block, benchmark_block
%}

<stat-block class="stat-block">
    <creature-heading>
        <h1>{{statblock.name}}</h1>
        <h2>{{statblock.size}} {{statblock.creature_type}}</h2>
    </creature-heading>

    <top-stats>
        {{property('Armor Class', statblock.ac) }}
        {{property('Hit Points', statblock.hp)}}
        {{property('Speed', statblock.movement)}}

        <abilities-block data-cha="{{statblock.CHA}}" data-con="{{statblock.CON}}" data-int="{{statblock.INT}}"
            data-str="{{statblock.STR}}" data-wis="{{statblock.WIS}}" data-dex="{{statblock.DEX}}"></abilities-block>

        {{property('Saving Throws', statblock.saves)}}
        {{property('Skills', statblock.skills)}}
        {{property('Damage Vulnerabilities', statblock.damage_vulnerabilities)}}
        {{property('Damage Resistances', statblock.damage_resistances)}}
        {{property('Damage Immunities', statblock.damage_immunities)}}
        {{property('Condition Immunities', statblock.condition_immunities)}}
        {{property('Senses', statblock.senses)}}
        {{property('Languages', statblock.languages)}}
        {{property('Challenge', statblock.challenge)}}
        {{property('Proficiency Bonus', statblock.proficiency_bonus)}}
    </top-stats>

    {{features_block(statblock.passives)}}

    <h3>Actions</h3>
    {{property_block('Multiattack', statblock.multiattack)}}
    {{attack_block(statblock.attack.display_name, statblock.attack_text)}}

    {{attack_blocks(statblock.attacks)}}

    {{features_block(statblock.actions)}}

    {{property_block_no_punctuation('Spellcasting', statblock.spellcasting)}}

    {{features_block(statblock.bonus_actions, 'Bonus Actions')}}

    {{features_block(statblock.reactions, statblock.reaction_header)}}

    {{features_block(statblock.legendary_actions, statblock.legendary_action_header)}}

</stat-block>
