{% macro property(name,text) -%}

{% if text|length > 0 %}
<property-line>
    <h4>{{name}}</h4>
    <p>{{text}}</p>
</property-line>
{% endif %}

{%- endmacro %}

{% macro property_block(name,text) -%}
{% if text|length > 0 %}
<property-block>
    <h4>{{name | fix_punctuation}}</h4>
    <p>{{text | fix_punctuation}}</p>
</property-block>
{% endif %}
{%- endmacro %}

{% macro property_block_no_punctuation(name,text) -%}
{% if text|length > 0 %}
<property-block>
    <h4>{{name | fix_punctuation}}</h4>
    <p>{{text}}</p>
</property-block>
{% endif %}
{%- endmacro %}

{% macro attack_blocks(attacks) %}
{% for attack in attacks %}
{{ attack_block(attack.display_name, attack.description)}}
{% endfor %}
{% endmacro %}

{% macro attack_block(display_name, attack_text) -%}

<property-block>
    <h4>{{display_name | fix_punctuation}}</h4>
    {% markdown %}
    {{attack_text | fix_punctuation}}
    {% endmarkdown %}
</property-block>

{%- endmacro %}

{% macro features_block(features, heading='') -%}

{% if heading|length > 0 and features|length > 0 %}
<h3>{{heading}}</h3>
{% endif %}

{% for feature in features -%}
<property-block>
    <h4>{{feature.title}}.</h4>
    {% markdown %}
    {{feature.description | fix_punctuation}}
    {% endmarkdown %}
</property-block>
{%- endfor %}

{%- endmacro %}


{% macro benchmark_block(benchmark) %}

<property-block>
    <h4>AC.</h4>
    <p>Expected {{benchmark.expected_ac}} and got {{benchmark.actual_ac}}</p>
</property-block>
<property-block>
    <h4>DPR.</h4>
    <p>Expected {{benchmark.expected_dpr}} and got {{benchmark.actual_dpr}}</p>
</property-block>
<property-block>
    <h4>HP.</h4>
    <p>Expected {{benchmark.expected_hp}} and got {{benchmark.actual_hp}}</p>
</property-block>
<property-block>
    <h4>To Hit.</h4>
    <p>Expected {{benchmark.expected_hit}} and got {{benchmark.actual_hit}}</p>
</property-block>

{% endmacro %}
