{% macro property(name,text) -%}

{% if text|length > 0 %}
<property-line>
    <h4>{{name}}</h4>
    <p>{{text}}</p>
</property-line>
{% endif %}

{%- endmacro %}

{% macro property_block(name,text) -%}
{% if text|length > 0 %}
<property-block>
    <h4>{{name}}.</h4>
    <p>{{text}}.</p>
</property-block>
{% endif %}
{%- endmacro %}

{% macro attack_block(attack) -%}

{% if attack.is_melee -%}
{{melee_attack_block(attack)}}
{% else %}
{{ranged_attack_block(attack)}}
{%- endif %}

{%- endmacro %}

{% macro melee_attack_block(attack) %}

<property-block>
    <h4>{{attack.name}}.</h4>
    <p>
        <i>Melee Weapon Attack:</i> +{{attack.hit}} to hit, reach {{attack.reach}} ft., one target.
        <i>Hit:</i> {{attack.damage.description}}
        {% if attack.additional_damage %}
        and {{attack.additional_damage.description }}.
        {% else -%}
        .
        {%- endif %}
    </p>
</property-block>

{% endmacro %}

{% macro ranged_attack_block(attack) %}

<property-block>
    <h4>{{attack.name}}</h4>
    <p>
        <i>Ranged Weapon Attack:</i> +{{attack.hit}} to hit, range {{attack.range}} ft., one target.
        <i>Hit:</i> {{attack.damage.description}}
        {% if attack.additional_damage %}
        and {{attack.additional_damage.description }}.
        {% else %}
        .
        {% endif %}
    </p>
</property-block>

{% endmacro %}

{% macro features_block(features, heading='') -%}

{% if heading|length > 0 and features|length > 0 %}
<h3>{{heading}}</h3>
{% endif %}

{% for feature in features -%}
<property-block>
    <h4>{{feature.title}}.</h4>
    <p>{{feature.description}}.</p>
</property-block>
{%- endfor %}

{%- endmacro %}


{% macro benchmark_block(benchmark) %}

<property-block>
    <h4>AC.</h4>
    <p>Expected {{benchmark.expected_ac}} and got {{benchmark.actual_ac}}</p>
</property-block>
<property-block>
    <h4>DPR.</h4>
    <p>Expected {{benchmark.expected_dpr}} and got {{benchmark.actual_dpr}}</p>
</property-block>
<property-block>
    <h4>HP.</h4>
    <p>Expected {{benchmark.expected_hp}} and got {{benchmark.actual_hp}}</p>
</property-block>
<property-block>
    <h4>To Hit.</h4>
    <p>Expected {{benchmark.expected_hit}} and got {{benchmark.actual_hit}}</p>
</property-block>

{% endmacro %}
