{% from 'macros.html.j2' import features_block, property %}

<h2 class="power-name">{{ power.name }}</h2>
<div class="power-block {{ '' if power.columns_suggested else 'power-block-no-columns'}}" data-power="{{power.key}}">
    {{features_block(passives, 'Traits')}}
    {{features_block(actions, 'Actions')}}
    {{features_block(attacks, 'Attacks')}}
    {{features_block(spellcasting, 'Spellcasting')}}
    {{features_block(bonuses, 'Bonus Actions')}}
    {{features_block(reactions, 'Reactions')}}
</div>