{% from 'macros.html.j2' import features_block, property %}

{% if icon %}
<{{header_tag}} id="{{power.key}}" data-power="{{power.key}}" class="power-name">{{icon}} {{ power.name }}
</{{header_tag}}>
{% else %}
<{{header_tag}} id="{{power.key}}" data-power="{{power.key}}" class="power-name">{{ power.name }}
</{{header_tag}}>
{% endif %}

<div class="power-block {{ '' if power.columns_suggested else 'power-block-no-columns'}}" data-power="{{power.key}}">
    {{features_block(passives, 'Traits')}}
    {{features_block(actions, 'Actions')}}
    {{features_block(attacks, 'Attacks')}}
    {{features_block(spellcasting, 'Spellcasting')}}
    {{features_block(bonuses, 'Bonus Actions')}}
    {{features_block(reactions, reaction_header)}}
</div>

{% if monsters_html -%}
<span class="power-monster-list">
    {{ monsters_html | safe }}
</span>
{%- endif %}