:root {
    --bg-color: #1a1a1a;
    --muted-color: #2a2a2a;
    --fg-color: #f4f1e6;

    --primary-color: #d51e1e;
    --secondary-color: #5b22cf;
    --tertiary-color: #c29a5b;
    --box-shadow-color: #aaaaaa70;
    --box-shadow-strong-color: #aaaaaa30;

    --stylistic-font: "Uncial Antiqua";
    --stylistic-font-size: 26px;

    --header-font: "Cinzel";
    --header-font-size: 18px;

    --primary-font: "Merriweather", serif;
    --primary-font-size: 13px;
    --primary-line-height: 1.4;

    --stats-font-size: 16px;
    --stats-line-height: 24px;
    --stats-row-height: 45px;

    --column-size: 390px;

    --small-margin: 6px;
    --big-margin: 12px;
    --medium-margin: 9px;
}

@media screen and (min-width: 1200px) {
    :root {
        --column-size: 480px;
    }
}