.branding a {
    color: var(--primary-color);
    text-decoration: underline;
}

.branding a::after {
    content: " ";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../img/favicon.png');
    background-size: contain;
    background-repeat: no-repeat;
}