.branding a {
    color: var(--primary-color);
    text-decoration: underline;
}

.branding a::after,
a.branding::after,
.navbar-brand::after {
    content: " ";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url('../img/favicon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-brand {
    color: var(--fg-color);
    font-family: var(--stylistic-font);
    font-size: 1.5em;
    font-weight: bold;
}

.navbar.bg-primary {
    color: var(--fg-color);
    font-family: var(--header-font);
    background-color: var(--primary-color) !important;
    background-image: unset !important;
}

.navbar {

    /* bootstrap specific overrides */
    --bs-navbar-padding-y: 0.1rem;
}



.alpha-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--muted-color);
    color: #eee;
    padding: 0.75em 1em;
    border-bottom: 1px solid #444;
    font-family: var(--primary-font);
    color: var(--fg-color);
}

.alpha-banner a {
    color: var(--primary-color);
    text-decoration: underline;
}

.alpha-banner button {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.2rem;
    cursor: pointer;
}