/* Generator Styles */

.generator-reroll {
    font-weight: bold;
    font-size: 1.5em;
    font-family: var(--header-font);
}

.generator-reroll .reroll-button {
    font-size: 1.5em;
    color: var(--bg-color);
}

#statblock-holder {
    margin-top: 1rem;
}

@keyframes pop-in {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hp-changed,
.damage-changed,
.power-changed {
    color: rgb(255, 255, 122);
    animation: pop-in 0.8s ease;
    will-change: transform, opacity;
}