#site-banner {
    display: flex;
    justify-content: center;
}

.beta-banner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    background: var(--muted-color);
    color: #eee;
    padding: 0.75em 1em;
    border-bottom: 1px solid var(--primary-color);
    font-family: var(--primary-font);
    color: var(--fg-color);
}

.beta-banner span {
    display: inline-block;
    animation: beta-banner-pulse 0.8s ease-in-out 0s 2;
}

@keyframes beta-banner-pulse {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.05);
    }

    60% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.beta-banner a {
    color: var(--primary-color);
    text-decoration: underline;
}

.beta-banner button {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.2rem;
    cursor: pointer;
}

.beta-banner svg-icon {
    width: 2em;
    height: 2em;
    vertical-align: text-bottom;
}


.generator-reroll {
    font-weight: bold;
    font-size: 1.5em;
    font-family: var(--header-font);
}

.generator-reroll .reroll-button {
    font-size: 1.5em;
    color: var(--bg-color);
}

/* FAQ Styling */
dt {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

dd {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    color: var(--fg-color);
    padding-left: 0.5rem;
    border-left: 3px solid var(--fg-color);
}