<footer class="col-md-12">
    {%- block footer %}
    <hr>

    {%- if config.copyright %}
    <p>{{ config.copyright }}</p>
    {%- endif %}

    {%- if page and page.meta and page.meta.footer %}
    {% for item in page.meta.footer %}
    <p>{{ item }}</p>
    {% endfor %}
    {%- endif %}

    <p>See <a href="{{ 'topics/credits' | url}}">Credits</a> for information on licensed content.</p>

    <p>Dungeons & Dragons is a trademark of Wizards of the Coast. Foe Foundry is not affiliated with or endorsed by
        Wizards of the Coast.</p>

    {%- endblock %}

</footer>