<div class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
    <div class="container-md">

        {%- block site_name %}
        <a class="navbar-brand" href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a>
        {%- endblock %}

        {%- if nav|length>1 or (page and (page.next_page or page.previous_page)) or config.repo_url %}
        <!-- Expander button -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
            aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {%- endif %}

        <!-- Expanded navigation -->
        <div id="navbar-collapse" class="navbar-collapse collapse">
            {%- block site_nav %}
            {%- if nav|length>1 %}
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
                {%- for nav_item in nav %}
                {%- if nav_item.children %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle{% if nav_item.active %} active"
                        aria-current="page{% endif %}" role="button" data-bs-toggle="dropdown"
                        data-nav="{{ nav_item.title}}" aria-expanded="false">{{ nav_item.title }}</a>
                    <ul class="dropdown-menu">
                        {%- for nav_item in nav_item.children %}
                        {% include "nav-sub.html" %}
                        {%- endfor %}
                    </ul>
                </li>
                {%- else %}
                <li class="nav-item">
                    <a href="{{ nav_item.url|url }}" class="nav-link{% if nav_item.active %} active"
                        aria-current="page{% endif %}">{{ nav_item.title }}</a>
                </li>
                {%- endif %}
                {%- endfor %}
            </ul>
            {%- endif %}
            {%- endblock %}

            <ul class="nav navbar-nav ms-md-auto">
                {%- block search_button %}
                <li class="nav-item">
                    <a href="{{ config.site_url + 'codex/#search' | url }}" class="nav-link search-link">
                        <i class="fa fa-search"></i>
                        <span class="d-none d-lg-inline">Search</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ config.site_url + 'support/' | url }}" class="nav-link patreon">
                        <span class="d-none d-xl-inline">Support Foe Foundry</span>
                        <span class="d-inline d-xl-none">Patreon</span>
                    </a>
                </li>
                {%- endblock %}


            </ul>
        </div>
    </div>
</div>
<div class="print-header">
</div>