<link href="{{ 'css/bootstrap.min.css'|url }}" rel="stylesheet">
<link href="{{ 'css/fontawesome.min.css'|url }}" rel="stylesheet">
<link href="{{ 'css/brands.min.css'|url }}" rel="stylesheet">
<link href="{{ 'css/solid.min.css'|url }}" rel="stylesheet">
<link href="{{ 'css/v4-font-face.min.css'|url }}" rel="stylesheet">
<link href="{{ 'css/base.css'|url }}" rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Uncial+Antiqua&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />