.backgroundImage {
    -webkit-mask-image: url(../../public/img/mask/watercolor-mask.png);
    -webkit-mask-size: cover;
    mask-image: url(../../public/img/mask/watercolor-mask.png);
    mask-size: contain;
}
