<!DOCTYPE html>
<html lang="{{ config.theme.locale|default('en') }}" data-bs-theme="{{ config.theme.color_mode }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% if page and page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}">
    <meta property="og:url" content="{{ page.canonical_url }}" />
    {% endif %}

    {% if config.site_favicon %}
    <link rel="shortcut icon" href="{{ config.site_favicon|url }}">
    {% else %}
    <link rel="shortcut icon" href="{{ 'img/icons/favicon.ico'|url }}">{% endif %}

    {% if page and page.title and not page.is_homepage %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    {% else %}
    <title>{{ config.site_name }}</title>
    <meta property="og:title" content="{{ page.site_name }}" />
    {% endif %}

    {% if page and page.is_homepage %}
    <meta name="description" content="{{ config.site_description }}">
    <meta property="og:description" content="{{ config.site_description }}" />
    {% elif page and page.meta.description %}
    <meta name="description" content="{{ page.meta.description }}">
    <meta property="og:description" content="{{ page.meta.description }}" />
    {% endif %}

    <meta property="og:type" content="website" />

    <link rel=alternate title="Blog Posts" type=application/rss+xml href="{{ 'rss.xml' | url }}">

    {% if page and page.meta.image %}
    <meta property="og:image" content="{{ config.site_url + page.meta.image}}" />
    {% endif %}

    {%- block styles %}
    <link href="{{ 'css/bootstrap.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/fontawesome.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/brands.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/solid.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/v4-font-face.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/base.css'|url }}" rel="stylesheet">
    {%- if config.theme.highlightjs %}
    <link id="hljs-light" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/{{ config.theme.hljs_style }}.min.css"
        {% if config.theme.color_mode !="light" %}disabled{% endif %}>
    <link id="hljs-dark" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/{{ config.theme.hljs_style_dark }}.min.css"
        {% if config.theme.color_mode !="dark" %}disabled{% endif %}>
    {%- endif %}
    {%- for path in config.extra_css %}
    <link href="{{ path|url }}" rel="stylesheet">
    {%- endfor %}
    {%- endblock %}

    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Uncial+Antiqua&display=swap"
        rel="stylesheet">

    {%- block libs %}
    {%- if config.theme.highlightjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    {%- for lang in config.theme.hljs_languages %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/{{lang}}.min.js"></script>
    {%- endfor %}
    <script>hljs.highlightAll();</script>
    {%- endif %}
    {%- endblock %}

    {% if page and page.meta and page.meta.json_ld %}
    <script type="application/ld+json">
        {{ page.meta["json_ld"] }}
    </script>
    {% endif %}

    {% include "partials/analytics.html" %}

</head>

<body {% if page and page.is_homepage %} class="homepage" {% endif %}>
    {% include "partials/navbar.html" %}

    {% include "partials/alpha_banner.html" %}

    <div class="container pamphlet-container">
        <div class="row justify-content-center">
            {%- block content %}
            {% if "toc" not in page.meta.hide %}
            <div class="col-lg-3">{% include "toc.html" %}</div>
            <div class="col-lg-9 pamphlet-main" role="main">{% include "content.html" %}</div>
            {% else %}
            <div class="col-lg-9 pamphlet-main" role="main">{% include "content.html" %}</div>
            {% endif %}
            {%- endblock %}
        </div>
    </div>

    {% include "partials/footer.html" %}

    {% include "partials/scripts.html" %}

    {% if 'search' in config.plugins %}{%- include "search-modal.html" %}{% endif %}
    {%- include "keyboard-modal.html" %}

</body>

</html>