<div>

    <div id="parallax-logo-bg"></div>

    <div>

        <section>
            <h2 class="glowing-header"><a href="{{ 'monsters' | url}}">Summon Unforgettable Monsters</a></h2>
            <p class="lead">
                Build the perfect monster for your campaign in seconds. Use our pre-built <a
                    href="{{ 'monsters' | url}}">Monster Templates</a> and
                customize from over 500 unique powers.
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="swiper-monsters swiper-container preload tall">
                        {% for monster in homepage_data.monsters %}
                        <div class="swiper-slide card tall {{monster.mask_css}} {% if monster.is_new %}new{% endif %}"
                            data-url="{{monster.url | url}}" {{monster.custom_style}}>
                            <img class="card-image contain {% if not monster.custom_style %}blend{% endif %}"
                                src="{{monster.image}}" alt="{{monster.name}}"
                                loading="{{ 'eager' if loop.index <= 5 else 'lazy'}}" />
                            <div class="card-content">
                                <div class="masked-label">
                                    <h3 class="card-title"><a href="{{monster.url | url}}">{{monster.name}}</a></h3>
                                    <p class="card-tagline p-3">{{monster.tagline}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <hr />

        </section>

        <section>
            <h2 class="glowing-header">Try It Out</h2>
            <p class="lead">Foe Foundry gives GMs the tools to create exciting, unique monsters without the grind.
                Summon foes packed with flavorful abilities, scale them instantly to your party's level, and get back to
                what matters - having fun and thrilling your players.</p>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <generator-showcase></generator-showcase>
                </div>
            </div>

            <hr />
        </section>

        <section>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <search-seeds-callout title="Discover Monsters by Theme"></search-seeds-callout>
                </div>
            </div>
            <hr />
        </section>

        <section>
            <h2 class="glowing-header">Why GMs Love Foe Foundry</h2>
            <div class="row">
                <div class="col-12">
                    <div class="swiper-value-props swiper-container preload">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide card bg-object v1">
                                <div class="p-2">
                                    <h3 class="card-title">No More Boring Monsters</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm">Say goodbye to bland statblocks. Foe Foundry
                                        monsters
                                        are forged from hundreds of handcrafted powers</p>
                                </div>
                            </div>
                            <div class="swiper-slide card bg-object v2">
                                <div class="p-2">
                                    <h3 class="card-title">Built by a GM, for GMs, to make your life easier</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm">Monsters should be fun and easy to run. No
                                        more
                                        bland
                                        "Bite, Claw, Claw" monsters</p>
                                </div>
                            </div>
                            <div class="swiper-slide card bg-object v3">
                                <div class="p-2">
                                    <h3 class="card-title">Human Designed, Procedurally Generated</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm">Monsters are created from unique handcrafted
                                        powers that are intelligently combined to create the perfect foe. </p>
                                </div>
                            </div>
                            <div class="swiper-slide card bg-object v4">
                                <div class="p-2">
                                    <h3 class="card-title">No AI Slop</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm">No AI Monsters. No AI Art. Monsters are
                                        created
                                        from human-designed powers and templates by rolling on random tables.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide card bg-object v5">
                                <div class="p-2">
                                    <h3 class="card-title">Monsters should be threatening & fun.</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm">Foe Foundry monsters are guaranteed to pack a
                                        punch and still have narrative and mechanically interesting abilities.</p>
                                </div>
                            </div>
                            <div class="swiper-slide card bg-object v6">
                                <div class="p-2">
                                    <h3 class="card-title">Flavor & Firepower.</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm">Our monster library is full of challenging
                                        foes
                                        that hit hard and ooze flavor. Only some are <i>actually</i> oozes!</p>
                                </div>
                            </div>
                            <div class="swiper-slide card bg-object v7">
                                <div class="p-2">
                                    <h3 class="card-title">Find What You Need</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm">Discover monsters by
                                        theme, environment, or adventure hook - even when you don't know exactly what
                                        you're looking for.</p>
                                </div>
                            </div>
                            <div class="swiper-slide card bg-object v8">
                                <div class="p-2">
                                    <h3 class="card-title">Create the Perfect Encounter</h3>
                                    <hr />
                                    <p class="card-details big hide-on-sm"><i>(Coming Soon)</i>. Instantly generate
                                        balanced encounters based on terrain, themes, and adventure prompts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </section>

        <section>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <email-subscribe-callout cta="Subscribe to the Foe Foundry Newsletter">
                    </email-subscribe-callout>
                </div>
            </div>
            <hr />
        </section>

        <section>
            <h2 class="glowing-header"><a href="{{ 'powers/all' | url}}">Unique Monsters with Handcrafted Powers</a>
            </h2>
            <p class="lead">
                Every monster draws from a vault of 500+ handcrafted powers. Here are a few examples:
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="swiper-powers swiper-container preload">
                        <div class="swiper-wrapper"
                            style="--card-title-color: var(--bg-color); --card-text-color: var(--bg-color);">
                            {% for power in homepage_data.powers %}
                            <div class="swiper-slide card {{power.mask_css}}" data-url="{{power.url | url}}">
                                <div class="card-icon">
                                    {% if loop.index <= 5 %} {{power.icon_svg | safe}} {% else %} <div
                                        class="lazy-icon-placeholder" data-icon-url="{{power.icon_url | url}}">
                                </div>
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <div>
                                    <h3 class="card-title"><a href="{{power.url | url}}">{{power.name}}</a></h3>
                                    <span class="card-details">{{power.details_html | safe}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>

    <hr />
    </section>

    <section>
        <h2 class="glowing-header">Tips & Resources for GMs</h2>
        <p class="lead">Check out the <a href="{{ 'blog' | url}}">Blog</a> for new monsters and tips.</p>
        <div class="row">
            <div class="col-12">
                <div class="swiper-blog swiper-container preload">
                    <div class="swiper-wrapper">
                        {% for post in homepage_data.blogs %}

                        {% if post.use_bg_image %}
                        <div class="swiper-slide card bg-object {{post.bg_object_css_class}}"
                            data-url="{{post.url | url}}">
                            <img class="card-image faded contain blend" src="{{post.image | url}}" alt="{{post.name}}"
                                loading="{{ 'eager' if loop.index <= 5 else 'lazy'}}" />
                            <div class="card-content p-2">
                                <h3 class="card-title highlight"><a href="{{post.url | url}}">{{post.name}}</a></h3>
                            </div>
                        </div>
                        {% else %}
                        <div class="swiper-slide card masked" data-url="{{post.url | url}}">
                            <img class="card-image cover p-0" src="{{post.image | url}}" alt="{{post.name}}"
                                loading="{{ 'eager' if loop.index <= 5 else 'lazy'}}" />
                            <div class="card-content p-2">
                                <h3 class="card-title highlight"><a href="{{post.url | url}}">{{post.name}}</a></h3>
                            </div>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</div>