:root {
    --bg-color: #1a1a1a;
    --muted-color: #2a2a2a;
    --fg-color: #f4f1e6;

    --primary-color: #d51e1e;
    --secondary-color: #5b22cf;
    --tertiary-color: #c29a5b;
    --box-shadow-color: #aaaaaa70;
    --box-shadow-strong-color: #aaaaaa30;
    --stylistic-font: "Uncial Antiqua";
    --header-font: "Cinzel";
    --primary-font: "Merriweather", serif;

    --small-margin: 5px;
    --big-margin: 10px;
    --medium-margin: 8px;
}

body {
    margin: 10px;
    background: var(--muted-color);
    color: var(--fg-color);
    font-family: var(--primary-font);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--muted-color);
    /* Layer 1 */
    background-image: url('parchment-summoning.png');
    /* Layer 2 */
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
}

.burnt-parchment-button {
    background-image: url('parchment-button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;

    border: none;
    padding: 1.5em 1.5em;
    margin: 0.75em;
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-shadow: 1px 1px 1px black;
    cursor: pointer;

    transition: transform 0.2s ease;
}

.burnt-parchment-button:hover {
    text-shadow: 1px 1px 3px black;
}

.stat-block-container {
    max-width: 900px;
}

.stat-block-container ul {
    list-style: none;
    padding-left: 1.2em;
}

.stat-block-container li {
    margin-top: 5px;
}

.stat-block-container ul li::before {
    content: "⟁";
    color: var(--tertiary-color);
    margin-right: 0.5em;
    font-size: 1em;
}

.stat-block-container :is(h1, h2, h3, h4, h5) {
    color: var(--primary-color);
    font-family: var(--header-font);
    font-weight: 700;
    margin-top: var(--big-margin);
    margin-bottom: var(--big-margin);
}

.stat-block {
    background-color: var(--bg-color);
    background: var(--bg-color);
    color: var(--fg-color);
    border: 1px solid var(--tertiary-color);
    outline: 1px solid var(--tertiary-color);
    outline-offset: -4px;

    position: relative;
    box-shadow: 0 5px 8px 0 var(--box-shadow-color);
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
    padding: 12px;
    margin: 20px;
    margin-top: 30px;

    font-family: var(--primary-font);
    columns: 390px 2
}

/* Gylph Animation */
@keyframes shimmer {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.1;
    }
}

/* Top-left glyph */
.stat-block::before {
    content: "ᚠ";
    font-size: 2em;
    color: var(--tertiary-color);
    opacity: 0.5;
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    pointer-events: none;
    animation: shimmer 12s infinite ease-in-out;
}

/* Bottom-right glyph */
.stat-block::after {
    content: "ᛃ";
    font-size: 2em;
    color: var(--tertiary-color);
    opacity: 0.5;
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    pointer-events: none;
    animation: shimmer 10s infinite ease-in-out;
    animation-delay: 2s;
}

.stat-block .monster-name {

    color: var(--primary-color);
    font-family: var(--stylistic-font);
    display: inline;
    font-size: 28px;
    overflow-wrap: break-word;
}

.stat-block :not(.monster-name) :is(h2, h3, h4, h5) {
    color: var(--primary-color);
    font-family: var(--header-font);
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 8px;
    margin-block-end: 0
}

.stat-block :is(h2, h3, h4, h5):after {
    content: "";
    display: block;
    width: 100%;
    margin: 2px auto 8px;
    height: 1px;
    background: var(--primary-color);
    column-span: all
}

.stat-block .monster-header {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);

    font-family: var(--header-font);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .35px;

    padding-top: 4px;
}

.stat-block .monster-header+p {
    break-before: avoid
}

.stat-block p {
    break-inside: avoid;
    font-size: 15px;
    line-height: 1.4;
    text-wrap: pretty;
    margin-bottom: var(--medium-margin);
    margin-top: 0;
}

.stat-block p.creature-type {
    margin-top: 0;
    font-style: italic;
    opacity: .8
}

.stat-block :is(ol, ul, dl) {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 15px;
    line-height: 1.4
}

.stat-block :is(ol, ul, dl) li {
    margin: 8px 0 0 6px;
    break-inside: avoid
}



.stat-block .stats {
    display: flex;
    gap: 10px
}

.stat-block .stats+p {
    margin-top: 10px
}

.stat-block .stats .table-overflow-wrapper {
    flex: 1 1 auto
}

.stat-block .stats table.abilities-saves {
    flex: 1 1 auto;
    line-height: 24px;
    background: revert;
    border: none;
    font-size: 16px;
    break-inside: avoid
}

.stat-block .stats table.abilities-saves thead {
    border: none;
    height: revert;
    min-height: 45px
}

.stat-block .stats table.abilities-saves thead tr {
    height: revert;
    min-height: 45px
}

.stat-block .stats table.abilities-saves thead tr th {
    padding: 5px 2px 0 !important;
    background: inherit;
    color: inherit;
    vertical-align: bottom;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px
}

.stat-block .stats table.abilities-saves tbody {
    border: none
}

.stat-block .stats table.abilities-saves tbody th {
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding-left: 6px;
    font-size: 16px
}

.stat-block .stats table.abilities-saves tbody td {
    min-width: revert;
    padding: 5px 10px !important;
    border: none;
    font-size: 16px
}

.stat-block .stats table.abilities-saves tr :is(th, td) {
    transition: .3s
}

.stat-block p:nth-of-type(2) strong+strong {
    margin-left: 30px
}